*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: grey;
    width: 100%;
}

.navegador{
    width: 100%;
    background-color: snow;
    position: fixed;
    padding: 1%;
}
.navegador__logo{
    position: absolute;
    left: 20px;
    top: 50%;
}


.navegador__menu{
    display: flex;
    justify-content: flex-end;
    list-style: none;
    
}

.navegador__item{
    list-style: none;
    padding: 1%;
}

.navegador__item--chat{
    color: greenyellow;
    cursor: pointer;
}

.transparencia{
    margin-top: 20px;
    margin-left: 20px;
}

.tarjeta{
    margin-left: 50px;
    max-width: 1100px;
    width: 300px;
    height: 380px;
    border: 3px solid black;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    margin-top: 55px;
}


.tarjeta__imagen, .tarjeta__titulo, .tarjeta__descripcion, .tarjeta__boton{
    text-align: center;
    padding: 1px;
    cursor: progress;
}

.galeria{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.galeria__item{

    height: 330px;
    width: 280px;
    border: 3px gold dotted;
    margin-top: 15px;
    text-align: center;
}

.formulario{
    background-color: white;
    border: 3px solid black;
    margin-top: 15px;
    display: flex;
}

.formulario__fila--izquierda{
    flex-direction: column;
}

.encabezado{
    background-color: silver;
    border: 3px solid black;
    margin-top: 15px;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;
    gap: 2rem;
}

.encabezado__item {
    display: flex;              /* ícono + texto en fila */
    align-items: center;        /* alinea verticalmente */
    justify-content: end;
    gap: 0.5rem;                /* espacio entre ícono y texto */
    margin-right: 15px;
}

.lista-tareas ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 3px solid black;
    margin-top: 15px;
    background-color: white;
}

.lista-tareas__item{
    flex-grow: 1;
    background-color: lightblue;
    margin: 5px;
    padding: 10px;
    list-style: none;
    text-align: center;
    border: 3px skyblue double;
}

.lista-tareas__item--completada:hover{
    background-color: limegreen;
    transition: 2s;
    cursor: pointer;
    border: 3px gray dotted;
}

.testimonial{
    display: flex;
    align-items: center;
    padding: 1rem;
    border: 3px solid #ddd;
    border-radius: 10px;
    margin-top: 15px;
    background-color: #fafafa;
}


/* .testimonial__avatas{
    width: 30px;
    height: 30px;
} */

.testimonial__contenido{
    display: flex;
    flex-direction: column;
}

.testimonial__nombre